<form autocomplete="on"  class="" action="index.html" method="post">
  <fieldset>
    <legend>Cadastrar usuário</legend>
  <div>
    <label for="nome">Nome Completo</label>
    <input autocomplete="on" type="text" name="nome" value="" id="nome_completo">
  </div>

  <div>
    <label for="email_user">E-mail</label>
    <input autocomplete="on" type="email" name="email" value="" id="email_user">
  </div>

  <div>
    <label for="endereco_user">Endereço</label>
    <input autocomplete="on" type="text" name="endereco" value="" id="endereco_user">
  </div>

  <div>
    <label for="bairro_user">Bairro</label>
    <input autocomplete="on" type="text" name="bairro" value="" id="bairro_user">
  </div>

  <div>
    <label for="cidade_user">Cidade</label>
    <input autocomplete="on" type="text" name="cidade" value="" id="cidade_user">
  </div>

  <div>
    <label for="uf_user">Estado</label>
    <input autocomplete="on" type="text" name="estado" value="" id="uf_user">
  </div>

  <div>
    <label for="nascimento">Data de Nascimento</label>
    <input autocomplete="on" type="date" name="datadenascimento" value="" id="nascimento">
  </div>

  <div>
    <label for="telefone_user">Telefone</label>
    <input autocomplete="on" type="tel" name="telefone" value="" id="tel_user">
  </div>

  <div>
    <label for="senha_user">Senha</label>
    <input autocomplete="on" type="password" name="senha" value="" id="senha_user">
  </div>

  <div>
    <label for="senha_user_confima">Confirmar senha</label>
    <input autocomplete="on" type="password" name="confirmarsenha" value="" id="senha_user_confima">
  </div>
<div>
  <label for="enviar_cadastro_user"></label>
  <button type="submit" name="button" id="enviar_cadastro_user">Enviar</button>

</div>
</fieldset>

</form>
