<form class="" action="index.html" method="post">
  <fieldset>Cadastro Usuario </fieldset><br>
  <div>
    <label>Nome Completo</label>
    <input type="text" name="nome" value="">
  </div>

  <div>
    <label>E-mail</label>
    <input type="email" name="email" value="">
  </div>
  <div>

    <label>Endereço</label>
    <input type="text" name="endereco" value="">
  </div>

  <div>
    <label>Bairro</label>
    <input type="text" name="bairro" value="">
  </div>

  <div>
    <label>Cidade</label>
    <input type="text" name="cidade" value="">
  </div>

  <div>
    <label>UF</label>
    <input type="text" name="uf" value="">
  </div>

  <div>
    <label>Estado</label>
    <input type="text" name="estado" value="">
  </div>

  <div>
    <label>Data de Nascimento</label>
    <input type="date" name="datadenascimento" value="">
  </div>

  <div>
    <label>Telefone</label>
    <input type="tel" name="telefone" value="">
  </div>

  <div>
    <label>Senha</label>
    <input type="password" name="senha" value="">
  </div>

  <div>
    <label>Confirmar senha</label>
    <input type="password" name="confirmarsenha" value="">
  </div>

  <button type="submit" name="button">Enviar</button>
  
</form>
