<form class="" action="index.html" method="post">
  <fieldset>Cadastro Assitência </fieldset><br>
  <div>
    <label>Nome da Assitência</label>
    <input type="text" name="nomeassistencia" value="">
  </div>
  <div>
    <label>CNPJ</label>
    <input type="text" name="cnpj" value="">
  </div>
  <div>
    <label>E-mail da Assistência</label>
    <input type="email" name="emailassistencia" value="">
  </div>
  <div>
      <label>Cep da Assistência</label>
      <input type="number" name="cepassistencia" value="">
    </div>
    <div> 
    <label>Endereço</label>
    <input type="text" name="enderecoassistencia" value="">
  </div>
  <div>
    <label>Bairro</label>
    <input type="text" name="bairroassistencia" value="">
  </div>
  <div>
    <label>Cidade</label>
    <input type="text" name="cidade" value="">
  </div>
  <div>
    <label>Estado</label>
    <input type="text" name="estado" value="">
  </div>
  <div>
    <label>UF</label>
    <input type="text" name="uf" value="">
  </div>

  <div>
    <label>Nome do Fundador</label>
    <input type="text" name="nomedofundador" value="">
  </div>
  <div>
    <label>Telefone</label>
    <input type="tel" name="telefone" value="">
  </div>
  <div>
    <label>Senha</label>
    <input type="password" name="senha" value="">
  </div>
  <div>
    <label>Confirmar senha</label>
    <input type="password" name="confirmarsenha" value="">
  </div>
  <button type="submit" name="button">Enviar</button>
</form>
