<form autocomplete="on" class="" action="index.html" method="post">
  <fieldset>
    <legend>Cadastrar Assitência</legend>
  <div>
    <label for="nome_assistencia_id">Nome da Assitência</label>
    <input autocomplete="on" type="text" name="nomeassistencia" value="" id="nome_assistencia_id">
  </div>
  <div>
    <label for="cnpj_id">CNPJ</label>
    <input autocomplete="on" type="text" name="cnpj" value="" id="cnpj_id">
  </div>
  <div>
    <label for="email_assistencia_id">E-mail da Assistência</label>
    <input autocomplete="on" type="email" name="emailassistencia" value="" id="email_assistencia_id">
  </div>
  <div>
      <label for="cep_assistencia_id">Cep da Assistência</label>
      <input autocomplete="on" type="number" name="cepassistencia" value="" id="cep_assistencia_id">
    </div>
    <div>
    <label for="endereco_assistencia_id">Endereço</label>
    <input autocomplete="on" type="text" name="enderecoassistencia" value="" id="endereco_assistencia_id">
  </div>
  <div>
    <label for="bairro_id">Bairro</label>
    <input autocomplete="on" type="text" name="bairroassistencia" value="" id="bairro_id">
  </div>
  <div>
    <label for="cidade_id">Cidade</label>
    <input autocomplete="on" type="text" name="cidade" value="" id="cidade_id">
  </div>
  <div>
    <label for="estado_id">Estado</label>
    <input autocomplete="on" type="text" name="estado" value="" id="estado_id">
  </div>
  <div>
    <label for="fundador_id">Nome do Fundador</label>
    <input autocomplete="on" type="text" name="nomedofundador" value="" id="fundador_id">
  </div>
  <div>
    <label for="telefone_assistencia_id">Telefone</label>
    <input autocomplete="on" type="tel" name="telefone" value="" id="telefone_assistencia_id">
  </div>
  <div>
    <label for="senha_assistencia_id">Senha</label>
    <input autocomplete="on" type="password" name="senha" value="" id="senha_assistencia_id">
  </div>
  <div>
    <label for="senha_assistencia_confima_id">Confirmar senha</label>
    <input autocomplete="on" type="password" name="confirmarsenha" value="" id="senha_assistencia_confima_id">
  </div>
  <div>
    <label for="enviar_cadastro_assistencia_id">Confirmar senha</label>
    <button type="submit" name="button" id="enviar_cadastro_assistencia_id">Enviar</button>
  </div>
  </fieldset>
</form>
