
<form  autocomplete="on"  class="" action="index.html" method="post">

  <fieldset>
    <legend>Solicitar Orçamento</legend>
  <div>
    <label for="nome_cliente">Nome do Cliente</label>
    <input autocomplete="on"  type="text" name="nomedocliente" value="" id="nome_cliente">
  </div>

<div>
    <label for="data_solicidata">Data Solicitada</label>
    <input autocomplete="on"  type="date" name="datasolicitada" value="" id="data_solicidata">
  </div>

  <div>
    <label for="descricao_id">Descrição</label>
    <input autocomplete="on"  type="text" name="descricao" value="" id="descricao_id">
  </div>

  <div>
    <label for="observacoes_id">Observações</label>
    <textarea name="observacoes" id="observacoes_id"></textarea>
  </div>

<div>
  <label for="enviar_solicitacao_orcamento">Observações</label>
  <button type="submit" name="button" id="enviar_solicitacao_orcamento">Enviar</button>
</div>

  </fieldset>
</form>
