<form class="" action="index.html" method="post">
  <fieldset>Solicitar Orçamento</fieldset><br>
  <div>
    <label>Nome do Cliente</label>
    <input type="text" name="nomedocliente" value="">
  </div>
    <label>Data Solicitada</label>
    <input type="date" name="datasolicitada" value="">
  </div>
  <div >
    <label>Descrição</label>
    <input type="text" name="enderecoassistencia" value="">
  </div>
  <div>
    <label>Observações</label>
    <textarea name="text" rows="8" cols="80"></textarea>
  </div>

  <button type="submit" name="button">Enviar</button>
</form>
